<header>

<nav class="fixed-top">
		<div id="menu" class="row" class="container-fluid" >		
			<nav class="navbar navbar-light ">
				<a class="navbar-brand" href="#">
				    <img src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png" width="200" height="30" class="d-inline-block align-top" alt="">			    
				</a>
			  	<ul class="nav">
					<div class="input-group">
						<div  class="input-group-prepend">
						    <span class="input-group-text"><i class="fas fa-search"></i></span>
						 </div>
						<input type="text" class="form-control" placeholder="Buscar productos" aria-label="Username" aria-describedby="basic-addon1">
						<li class="nav-item">
					    	<a class="nav-link" href="#">Categoría</a>
						</li>
						<li class="nav-item">
						    <a class="nav-link" href="#">Mis habituales</a>
						</li>
					</div>
					 
				</ul>
			</nav>			
		</div>
	</nav>

</header>