{% extends 'principal/base.html.twig' %}

{% block title %}Mercadona{% endblock %}




{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-sm">			
				<img src="{{ asset('imagen/logo-cabecera-index1.png') }}" width="80" height="80" alt="Carro">
				    <h5 class="card-title">Nueva web y servicio<br> en Valencia centro</h5>
				    <p class="card-text">Tu compra en casa de 7:00 a 22:00. Tramos de 1 hora. Calidad y frescura como en tu tienda.</p> 				
			</div>
			

			<div class="col-sm">			
				<img src="{{ asset('imagen/logo-cabecera-index2.png') }}" height="80" width="80" alt="Card image cap">			
				    <h5 class="card-title">Próximamente en otras zonas</h5>	    
				    <p class="card-text">Si quieres que te avisemos, déjanos tu email y tu código postal.</p>
				    <a href="#" class="card-link">Sí, avisadme</a>		 
			</div>			
			

			<div class="col-sm">			
				<img src="{{ asset('imagen/logo-cabecera-index3.png') }}" height="80" width="80" alt="Card image cap">				
				    <h5 class="card-title">La versión clásica sigue existiendo</h5>
				    <p class="card-text">Si al introducir tu código postal, aún no llegamos a tu zona, puedes seguir comprando en Mercadona a través de la web de siempre.</p>
			</div>
		</div>
	</div>


{% endblock %}

