<footer>

	
		<div class="row" id="final">
			<div class="col">
									
					<ol>
						<h5> Cliente </h5>
						Supermercados
						Consejos
						Tarjetas mercadona
						Factura Cliente

					</ol>
				
			</div>
			<div class="col">
									
					<ol>
						<h5> Trabajador </h5>
						Trabaja con nosotros						
					</ol>
				
			</div>
			<div class="col">
									
					<ol>
						<h5> Proveedor </h5>
						E-factura proveedores
						Portal Trinidad
					</ol>
				
			</div>
			<div class="col">
									
					<ol>
						<h5> Sociedad </h5>
						Actualidad
						Sala de prensa
						Conoce Mercadona
						Mercadona en Portugal
					</ol>
				
			</div>
			<div class="col">
				<div class="col">
									
					<ol>
						<i class="fas fa-envelope"></i> Contact
						<img src="{{ asset('imagen/logo-cabecera-index4.png') }}">
						
					</ol>
				
			</div>
			</div>
		</div>

	
</footer>