

<header>

	<nav class="fixed-top">
		<div id="menu" class="row" class="container-fluid" >		
			<nav class="navbar navbar-light ">
				<a class="navbar-brand" href="#">
				    <img src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png" width="200" height="30" class="d-inline-block align-top" alt="">			    
				</a>
			  	<ul class="nav">
					 <li class="nav-item">
					    <a class="nav-link" href="#">Conócenos</a>
					 </li>
					 <li class="nav-item">
					    <a class="nav-link" href="#">Supermercados</a>
					 </li>
					 <li class="nav-item">
					    <a class="nav-link" href="#">Trabaja con nosotros</a>
					 </li>
					 <li class="nav-item">
					    <a class="nav-link" href="#">Atención al cliente</a>
					 </li>
				</ul>
			</nav>			
		</div>
	</nav>

<div id="imagen" class="container-fluid">
	<div class="row">
		<div class="col">
		</div>
		<div class="col">
			<p>Empieza tu compra<br> en Mercadona</p>
			<div>			
				<form class="form-inline my-2 my-lg-0" method="POST" action="{{ path('formulariocp') }}"> 
			      <input class="form-control mr-sm-2" type="search" name="inputcp" placeholder="Codigo postal" aria-label="Search">
			      <button class="btn btn-success my-2 my-sm-0" type="submit">ENTRAR <i class="fas fa-arrow-right"></i></button>
			    </form>			
			</div>
			<br>
			<br>
			<br>
			
		</div>
	</div>
</div>	



</header>